.git
.env
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
public/build
public/hot
tests
phpunit.xml
.phpunit.result.cache
.vscode
.idea
Dockerfile
render.yaml
README.md
